@media screen and (min-width: 900px) {
  .techContainer {
    display: flex;
    gap: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .techContainer img {
    width: 50px;
    height: 50px;
  }

  .tech {
    display: grid;
    width: 70px;
  }
  .tech img {
    grid-row: 1;
    margin: auto;
  }

  .tech span {
    margin-top: 10px;
    grid-row: 2;
    font-size: large;
    font-weight: bold;
    color: #4a3d5a;
  }
}
@media screen and (min-width: 48px) and (max-width: 900px) {
  .techContainer {
    display: flex;
    gap: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    z-index: 1;
  }

  .techContainer img {
    width: 25px;
    height: 25px;
  }

  .tech {
    display: grid;
    width: auto;
  }
  .tech img {
    grid-row: 1;
    margin: auto;
  }

  .tech span {
    margin-top: 10px;
    grid-row: 2;
    font-size: medium;
    font-weight: bold;
    color: #4a3d5a;
  }
}

@media screen and (max-width: 480px) {
  .techContainer {
    display: flex;
    gap: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  .techContainer img {
    width: 25px;
    height: 25px;
  }

  .tech {
    display: grid;
    width: auto;
  }
  .tech img {
    grid-row: 1;
    margin: auto;
  }

  .tech span {
    margin-top: 10px;
    grid-row: 2;
    font-size: medium;
    font-weight: bold;
    color: #4a3d5a;
  }
}
