@media screen and (min-width: 900px) {
  .profileContainer {
    display: flex;
    height: 90vh;
    background-color: #b0a8b9;
  }

  .portrait,
  .infoBox {
    width: 35vw;
    height: 90vh;
  }

  .mobilePortrait {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .infoBox {
    width: 65vw;
    text-align: center;
    background-color: #b0a8b9;
  }

  .font {
    margin-top: 250px;
    color: #4b4453;
  }

  .name {
    margin-left: 50px;
    margin-top: 50px;
    font-weight: bold;
    color: #4b4453;
  }

  .title {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
    color: #4b4453;
  }

  .title span {
    color: #fefedf;
  }

  .info {
    margin-top: 20px;
  }

  .icon {
    margin-top: 30px;
    width: 70px !important;
    height: 70px !important;
    fill: #4b4453 !important;
  }

  .icon:hover {
    fill: #845ec2 !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 900px) {
  .profileContainer {
    display: flex;
    height: 90vh;
    background-color: #b0a8b9;
    flex-direction: column;
  }
  .portrait {
    display: none;
  }
  .mobilePortrait {
    width: 50vw;
    height: 40vh;
    visibility: visible;
    margin-left: 25%;
    margin-top: 20px;
  }
  .infoBox {
    margin-top: 10px;
    width: 100vw;
    text-align: center;
    background-color: #b0a8b9;
  }

  .font {
    color: #4b4453;
  }

  .name {
    margin-top: 10px;
    font-weight: bold;
    color: #4b4453;
  }

  .title {
    font-weight: bold;
    margin-top: 10px;
    color: #4b4453;
  }

  .title span {
    color: #fefedf;
  }

  .info {
    margin-top: 20px;
  }

  .icon {
    position: relative;
    width: 70px !important;
    height: 70px !important;
    fill: #4b4453 !important;
    z-index: 2;
  }

  .icon:hover {
    fill: #845ec2 !important;
  }
}

@media screen and (max-width: 480px) {
  .profileContainer {
    display: flex;
    height: 90vh;
    background-color: #b0a8b9;
    flex-direction: column;
  }
  .portrait {
    display: none;
  }
  .mobilePortrait {
    width: 50vw;
    height: 20vh;
    visibility: visible;
    margin-left: 25%;
    margin-top: 20px;
  }
  .infoBox {
    width: 100vw;
    text-align: center;
  }
  .font {
    margin-top: 20px;
    width: 80%;
    color: #4b4453;
    text-align: center;
    margin: 0 auto;
    text-align-last: auto;
  }
  .name {
    margin-left: 0;
    color: #4b4453;
  }
  .title {
    font-weight: bold;
    font-size: large !important;
    margin-left: 50px;
    color: #4b4453;
    margin: auto;
  }

  .title span {
    color: #fefedf;
  }
  .icon {
    margin-top: 50px;
    width: 70px;
    height: 70px;
    fill: #4b4453 !important;
  }

  .icon:hover {
    margin-top: 30px;
    width: 90px;
    height: 90px;
  }
}
