.profileContainer {
  display: flex;
  height: 90vh;
}

.portrait,
.infoBox {
  width: 35vw;
}

.infoBox {
  width: 65vw;
  text-align: center;
  background-color: #B0A8B9;
}

.font {
  margin-top: 250px;
  color: #4B4453
}

.name {
  margin-left: 50px;
  margin-top: 50px;
  font-weight: bold;
  color: #4B4453
}

.title {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 50px;
  color: #4B4453
}

.title span {
  color: #FEFEDF
}

.info {
  margin-top: 20px;
}
