.profileContainer {
  display: flex;
  height: 90vh;
}

.portrait,
.infoBox {
  width: 35vw;
}

.infoBox {
  width: 65vw;
  text-align: center;
  background-color: #b0a8b9;
}

.font {
  margin-top: 250px;
  color: #4b4453;
}

.name {
  margin-left: 50px;
  margin-top: 50px;
  font-weight: bold;
  color: #4b4453;
}

.title {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 50px;
  color: #4b4453;
}

.title span {
  color: #fefedf;
}

.info {
  margin-top: 20px;
}

.icon {
  margin-top: 50px;
  width: 40px;
  height: 40px;
  fill: #a77ce4 !important;
}

.icon:hover {
  margin-top: 30px;
  width: 60px;
  height: 60px;
}
