.appbar {
  background-color: #4b4453 !important;
  height: 10vh;
}

.toolbar {
  display: flex;
  gap: 200px;
  margin: auto;
}

.link:hover {
  cursor: pointer;
  border-bottom: 2px solid #a77ce4;
  padding-bottom: 3px;
}
